<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
    <h1 class="has-text-primary has-text-centered is-size-2">Edit your Job Details</h1>
    <main>

    <div class="column is-8 is-offset-2">

    </div>
</main>
</body>
</html>